html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    *zoom:1;
}

/*Fin reset*/

body{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1{
	font-size: 60px;
	line-height: 64px;
}

h2{
	font-size: 28px;
	line-height: 32px;
}

h3{
	font-size: 24px;
	line-height: 28px;
}

h4{
	font-size: 21px;
	line-height: 25px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
}

.verde{
	background: #018139;	
	text-align: center;
}

.subtitle{
	color: #A9DB89;
	font-size: 18px;
	line-height: 22px;
}

.img100{
	width: 100%;
}

.cont_img100 img{
	width: 100%;
}

.social{
	margin-top: 60px;
}

.social li{
	display: inline-block;
}

.social a:hover{
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.cont_img{
	color: #fff;
	display: block;
	position: relative;
}

.cont_img:hover{
	background: #000;
}

.descripcion{
	bottom: 0;
	position: absolute;
	width: 100%;
}

.descripcion h1{
	margin-bottom: 5px;
}

.opacidad{
	opacity: 0.9;
    filter: alpha(opacity=90);
}

.bosques{
	background: #336666;
}

.oceanos{
	background: #67C1BF;
}

.artico{
	background: #29ABE2;
}

.nuclear{
	background: #1F4666;
}

.footer1{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	bottom: 0;
	box-sizing: border-box;         /* Opera/IE 8+ */
	background: #077135;
	padding-left: 20px;
	width: 100%;
}

.unete .footer1{
	margin-top: 60px;
}

.footer1 p{
	font-size: 12px;
	text-align: left;
}

.anios{
	left: 0;
	position: absolute;
	top: 0;
}

.verde h2{
	margin: 80px 0;
}

.centrado{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	bottom: 0;
	height: 400px;
	margin-top: -200px;
	position: absolute;
	top: 50%;
}

.cont_img:hover .mas{
	display: block;
}

.cont_img:hover .bosques,
.cont_img:hover .oceanos,
.cont_img:hover .artico,
.cont_img:hover .nuclear{
	height: 100%;
}

.cont_img:hover .bottom{
	position: absolute;
}

.mas{
	bottom: 0;
	display: none;
	height: 138px;
	left: 0;
	margin: -69px auto 0;
	position: absolute;
	right: 0;
	top: 50%;
	width: 138px;
	z-index: 1;
}

.bottom{
	bottom: 0;
	padding: 15px;
}

.accordionButton{
	cursor: pointer;
	padding: 15px;
	width: 100%;
}

.accordionContent{
	display: none;
	overflow: hidden;
	padding: 0 15px 15px 15px;
}

.link1{
	background: url(../images/menos_mini.png) no-repeat 96% center #336666;
}

.link2{
	background: url(../images/menos_mini.png) no-repeat 96% center #29ABE2;
}

.link3{
	background: url(../images/menos_mini.png) no-repeat 96% center #67C1BF;
}

.link4{
	background: url(../images/menos_mini.png) no-repeat 96% center #1F4666;
}

.link1.closed{
	background: url(../images/mas_mini.png) no-repeat 96% center #336666;
}

.link2.closed{
	background: url(../images/mas_mini.png) no-repeat 96% center #29ABE2;
}

.link3.closed{
	background: url(../images/mas_mini.png) no-repeat 96% center #67C1BF;
}

.link4.closed{
	background: url(../images/mas_mini.png) no-repeat 96% center #1F4666;
}

.ver_mas{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #fff;
	color: #fff;
	display: block;
	float: right;
	line-height: 18px;
	margin-top: 60px;
	padding: 6px 10px 8px 10px;
	text-align: center;
	width: 100px;
}

.footer2{
	background: #018139;
	display: none;
}

.unete .footer2{
	margin-top: 60px;
}

.footer2 p{
	background: #077135;
	font-size: 10px;
	padding-left: 20px;
}

.social2{
	padding: 15px 0;
	text-align: center;
}

.social2 li{
	display: inline-block;
}

.social2 a:hover,
.main_nav a:hover,
.enviar:hover{
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.acordeon{
	display: none;
}

.main_nav li a{
	color: #fff;
	display: inline-block;
	font-size: 18px;
	line-height: 22px;
	padding: 15px 0;
	text-align: center;
	width: 100%;
}

.main_nav li{
	float: left;
	width: 20%;
}

.main_nav .cont_logo a{
	padding: 3px 0 0 0;
}

.bg_verde{
	background: #018139;
}

.borde{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	display: inline-block;
	margin: 60px 0 20px 0;
	padding: 10px 0;
}

.fs34{
	font-size: 34px;
	line-height: 38px;
}

.fs24{
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 30px;
}

.cont_left{
	padding-right: 10px;
}

.marginb{
	margin-bottom: 40px;
}

.login{
	bottom: 0;
	display: none;
	margin-top: 102px;
	position: fixed;
	right: 8.4%;
	width: 350px;
	z-index: 2;
}

.login2{
	width: 100%;
}

.header_login2{
	background: url('../images/mas_mini.png') no-repeat 225px center #314545;
	bottom: 0;
	color: #fff;
	cursor: pointer;
	display: block;
	padding: 20px; 
    position: fixed;
    right: 8.4%;
    top: auto;
    width: 260px;
    z-index: 1;
}

.header_login{
	background: url('../images/menos_mini.png') no-repeat 312px center #314545;
	cursor: pointer;
	padding: 15px 20px;
}

.header_login4{
	background: #314545;
	cursor: pointer;
	padding: 15px 40px;
}

.header_login4 h2{
	font-size: 22px;
	line-height: 26px;
}

.input_text{
	border: 1px solid #E6E6E6;
	height: 40px;
	line-height: 36px;
	padding: 4px;
}

.codigo{
	display: block;
	float: left;
	font-size: 14px;
	height: 40px;
	line-height: 22px;
	padding: 10px;
	text-align: center;
	width: 22%;
}

.input_big{
	width: 100%;
}

.input_fono{
	width: 78%;
}

.fila{
	clear: both;
	margin: 15px 0 15px 0;
	overflow: hidden;
}

.label_check{
	font-size: 11px;
	line-height: 15px;
	padding-top: 4px;
}

.enviar{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fff;
	color: #336666;
	display: block;
	font-size: 20px;
	line-height: 24px;
	padding: 5px 0;
	text-align: center;
}

.sombra{
	background: url('../images/sombra.png') repeat;
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.block{
	display: block;
}

.cont_right{
	padding-bottom: 60px;
}

.header_tablet{
	background: #02813A;
	display: none;
	padding-top: 20px;
	position: relative;
	text-align: center;
}

.header_tablet .main_logo{
	padding-bottom: 20px;
}

.header_tablet .acordeon a{
	color: #fff;
	display: block;
	padding: 15px 20px;
	text-align: left;
}

.header_tablet .acordeon a img{
	float: right;
}

.menu{
	background: url('../images/menu.png') no-repeat;
	display: none;
	height: 18px;
	position: absolute;
	right: 20px;
	top: 34px;
	width: 25px;
}

.menu:hover,
.activo{
	background-position: 0 -18px;
}

.grafico2{
	display: none;
}

.check{
	display: block;
	float: left;
	margin: 0 5px 18px 0;
}

.unete{
	background: #314545;
}

.fs48{
	font-size: 48px;
	line-height: 52px;
}

.btn_unete{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #fff;
	border-radius: 10px;
	color: #fff;
	display: block;
	font-size: 18px;
	line-height: 22px;
	padding: 10px 0;
	text-align: center;
}

.btn_unete:hover{
	background: #fff;
	color: #4D4D4D;
}

.cont_btns li{
	float: left;
	padding-right: 10px;
	width: 250px;
}

.cont_btns p{
	color: #B6DDC6;
	font-size: 14px;
	line-height: 18px;
	margin-top: 20px;
}

.unete .fs48{
	padding: 40px 0 30px 0;
}

.unete h2{
	border-bottom: 1px solid #fff;
	width: 60%;
}

.mb40{
	margin-bottom: 40px;
	padding: 40px 0 10px 0;
}

.fs14{
	font-size: 14px;
	line-height: 18px;
}

.cont_form .fs14{
	margin-bottom: 30px;
}

.cont_form h2{
	margin: 20px 0 10px 0;
	padding-bottom: 10px;
}

.cont_form p img{
	padding-right: 10px;
	vertical-align: bottom;
}

.cont_form label{		
	font-size: 14px;
	line-height: 18px;	
}

.label_left .fila{
	padding-right: 20px;
}

.label_left label{
	line-height: 40px;
}

.label_left input{
	width: 80%;
}

.monto li{
	margin-bottom: 10px;
}

.select {
	background: #E6E6E6;
    border: 1px solid #e6e6e6;
    color: #757596;
    height: 40px;
    line-height: 40px;
    padding: 10px 4px;
}

.nacimiento input,
.nacimiento select{
	float: left;
	text-align: center;
	width: 32.8%;
}

.unete .cont_form h2{
	width: 100%;
}

.vencimiento select{
	float: left;
	width: 49.6%;
}

.selectmr{
	margin-right: 0.8%;
}

.cont_btnu{
	margin-top: 60px;
}

.label_mobile{
	display: none;
	margin-bottom: 5px;
}

#formulario strong{
	display: none !important;
}

#formulario .error_mob,
#formulario .error_desk{
	clear: both;
	display: none;
    font-size: 12px;
    line-height: 16px;
    margin: 5px 0;
}

#formulario .error_desk{
	line-height: 30px;
	padding-left: 5px;
}

#formulario .error{
	background: #E5B3C7;
	border: 1px solid #C1272D;
}

.cont_error_desk .fila{
	height: 40px;
}

.llame{
	font-size: 27px;
	line-height: 31px;
	margin: 20px 0;
}

.cont_check{
	font-size: 13px;
	line-height: 17px;
}

.cont_check li{
	margin-bottom: 10px;
}

.hasPlaceholder { color: #B3B3B3; }

.error_envio{
	color: #C1272D;
	display: none;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 10px;
	position: relative;
}

.error_envio a{
	color: #C1272D;
	position: absolute;
	right: 10px;
	top: 5px;
}

.cont_gracias{
	margin: 120px 0 40px 0;
	padding: 0 20px;
	text-align: center;
}

.gracias1{
	font-size: 48px;
	line-height: 52px;
	margin-bottom: 20px;
}

.gracias2{
	font-size: 18px;
	line-height: 22px;
}

.fixed{
	bottom: 0;
	position: fixed;
}

.img_mobile{
	display: none;
}

/*Queries*/

@media (max-width: 1500px) {
	.cont_check .right,
	.cont_check .left{
		float: none !important;
	}
}

@media (max-width: 1300px) {
	.monto .right,
	.monto .left{
		float: none !important;
	}
}

@media (max-width: 1120px) {
	.cont_left .fs34{
		font-size: 32px;
	}
}

@media (max-width: 1024px) {
	#formulario .error_desk{
		line-height: 16px;
	}
}

@media (max-width: 1024px) {
	.verde{
		height: 100% !important;
	}
	.verde .centrado{
		height: 100%;
		margin-top: 0;
		padding: 30px 0;
		position: static;
	}
	.verde h2 {
    	margin: 10px 0;
	}
	.social {
    	display: none;
	}
	.footer1{
		display: none;
	}
	.footer2{
		display: block;
	}
	.verde .centrado{
		float: none;
		margin: 0 auto;
		width: 90%;
	}
	h2 {
    	font-size: 18px;
    	line-height: 22px;
	}
	.subtitle {
    	font-size: 16px;
    	line-height: 20px;
	}
	.main_nav .cont_logo{
		display: none;
	}
	.main_nav li{
		width: 25%;
	}
	.header_tablet{
		display: block;
	}
	.header_tablet .anios{
		width: 8%;
	}
	.cont_interior{
		padding: 0 20px;
	}
	.header_login2{
		display: none;
	}
	.cont_right{
		padding-bottom: 0;
	}
	.monto {
    	margin-left: 34%;
	}
}

@media (max-width: 1025px) {
	.nacimiento input, 
	.nacimiento select{
		width: 32.8%;
	}
}

@media (max-width: 740px) {
	.main_nav{
		display: none;
	}
	.menu{
		display: block;
	}
}

/*@media (min-width: 640px) {
	.error_mob{
		display: none !important;
	}
}*/

@media (max-width: 640px) {
	.anios{
		width: 20%;
	}
	.header_tablet .anios{
		width: 15%;
	}
	.subtitle {
    	font-size: 12px;
    	line-height: 16px;
	}
	#der{
		display: none;
	}
	.home .acordeon{
		display: block;
	}
	.nacimiento input, 
	.nacimiento select{
		width: 32.8%;
	}
	.monto {
    	margin-left: 0;
	}
	.label_left{
		display: none;
	}
	.label_mobile{
		display: block;
	}
	.cont_error_desk{
		display: none;
	}
	.img_desktop{
		display: none;
	}
	.img_mobile{
		display: block;
	}
}

@media (max-width: 540px) {
	h1{
		font-size: 34px;
		line-height: 30px;
	}
	h3{
		font-size: 20px;
		line-height: 24px;
	}
	.cont_left .fs34{
		font-size: 26px;
		line-height: 30px;
	}
	.fs24{
		font-size: 18px;
		line-height: 22px;
	}
	.grafico1{
		display: none;
	}
	.grafico2{
		display: block;
	}
}