html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    *zoom:1;
}

/*Fin reset*/

body{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1{
	font-size: 60px;
	line-height: 64px;
}

h2{
	font-size: 28px;
	line-height: 32px;
}

h3{
	font-size: 24px;
	line-height: 28px;
}

h4{
	font-size: 21px;
	line-height: 25px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
}

.verde{
	background: #018139;	
	text-align: center;
}

.subtitle{
	color: #A9DB89;
	font-size: 18px;
	line-height: 22px;
	padding: 0 1%;
}

.img100{
	width: 100%;
}

.cont_img100 img{
	width: 100%;
}

.social{
	margin-top: 60px;
}

.social li{
	display: inline-block;
}

.social a:hover{
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.cont_img{
	color: #fff;
	display: block;
	position: relative;
}

.cont_img:hover{
	background: #000;
}

.descripcion{
	bottom: 0;
	position: absolute;
	width: 100%;
}

.descripcion h1{
	margin-bottom: 5px;
}

.opacidad{
	opacity: 0.9;
    filter: alpha(opacity=90);
}

.bosques{
	background: #336666;
}

.oceanos{
	background: #67C1BF;
}

.artico{
	background: #29ABE2;
}

.nuclear{
	background: #1F4666;
}

.footer1{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	bottom: 0;
	box-sizing: border-box;         /* Opera/IE 8+ */
	background: #077135;
	padding-left: 20px;
	width: 100%;
}

.footer_index{
	border-bottom: 0;
	position: absolute;
}

.unete .footer1{
	margin-top: 60px;
}

.footer1 p{
	font-size: 12px;
	text-align: left;
}

.anios{
	left: 0;
	position: absolute;
	top: 0;
}

.verde h2{
	margin: 80px 0;
}

.centrado{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	bottom: 0;
	height: 300px;
	margin-top: -150px;
	padding: 0 10px;
	position: absolute;
	top: 50%;
}

.centrado h4{
	margin: 30px 0 20px 0;
}

.cont_img:hover .mas{
	display: block;
}

.cont_img:hover .bosques,
.cont_img:hover .oceanos,
.cont_img:hover .artico,
.cont_img:hover .nuclear{
	height: 100%;
}

.cont_img:hover .bottom{
	position: absolute;
}

.mas{
	bottom: 0;
	display: none;
	height: 138px;
	left: 0;
	margin: -69px auto 0;
	position: absolute;
	right: 0;
	top: 50%;
	width: 138px;
	z-index: 1;
}

.bottom{
	bottom: 0;
	padding: 15px;
}

.accordionButton{
	cursor: pointer;
	padding: 15px;
	width: 100%;
}

.accordionContent{
	display: none;
	overflow: hidden;
	padding: 0 15px 15px 15px;
}

.link1{
	background: url(../images/menos_mini.png) no-repeat 96% center #336666;
}

.link2{
	background: url(../images/menos_mini.png) no-repeat 96% center #29ABE2;
}

.link3{
	background: url(../images/menos_mini.png) no-repeat 96% center #67C1BF;
}

.link4{
	background: url(../images/menos_mini.png) no-repeat 96% center #1F4666;
}

.link1.closed{
	background: url(../images/mas_mini.png) no-repeat 96% center #336666;
}

.link2.closed{
	background: url(../images/mas_mini.png) no-repeat 96% center #29ABE2;
}

.link3.closed{
	background: url(../images/mas_mini.png) no-repeat 96% center #67C1BF;
}

.link4.closed{
	background: url(../images/mas_mini.png) no-repeat 96% center #1F4666;
}

.ver_mas{
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #fff;
	color: #fff;
	display: block;
	float: right;
	line-height: 18px;
	margin-top: 60px;
	padding: 6px 10px 8px 10px;
	text-align: center;
	width: 100px;
}

.footer2{
	background: #018139;
	display: none;
}

.unete .footer2{
	margin-top: 60px;
}

.footer2 p{
	background: #077135;
	font-size: 10px;
	padding-left: 20px;
}

.social2{
	padding: 15px 0;
	text-align: center;
}

.social2 li{
	display: inline-block;
}

.social2 a:hover,
.main_nav a:hover,
.enviar:hover{
	opacity: 0.8;
    filter: alpha(opacity=80);
}

.acordeon{
	display: none;
}

.main_nav li a{
	color: #fff;
	display: inline-block;
	font-size: 18px;
	height: 50px;
	line-height: 22px;
	padding: 15px 0;
	text-align: center;
	width: 100%;
}

.main_nav li{
	float: left;
	width: 20%;
}

.main_nav .cont_logo a{
	padding: 3px 0 0 0;
}

.bg_verde{
	background: #018139;
}

.borde{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	display: inline-block;
	margin: 60px 0 20px 0;
	padding: 10px 0;
}

.fs34{
	font-size: 34px;
	line-height: 38px;
}

.fs24{
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 30px;
}

.cont_left{
	padding-right: 10px;
}

.marginb{
	margin-bottom: 40px;
}

.login{
	bottom: 0;
	display: none;
	margin-top: 102px;
	position: fixed;
	right: 8.4%;
	width: 350px;
	z-index: 2;
}

.login2{
	width: 100%;
}

.header_login2{
	background: url('../images/mas_mini.png') no-repeat 225px center #314545;
	bottom: 0;
	color: #fff;
	cursor: pointer;
	display: block;
	padding: 20px; 
    position: fixed;
    right: 8.4%;
    top: auto;
    width: 260px;
    z-index: 1;
}

.header_login2:hover{
	background: url('../images/mas_mini_verde.png') no-repeat 225px center #fff;
	border: 1px solid #314545;
	color: #314545;
}

.header_login{
	background: url('../images/menos_mini.png') no-repeat 312px center #314545;
	cursor: pointer;
	padding: 15px 20px;
}

.header_login4{
	background: #314545;
	cursor: pointer;
	padding: 15px 40px;
}

.header_login4 h2{
	font-size: 22px;
	line-height: 26px;
}

.input_text{
	border: 1px solid #E6E6E6;
	height: 40px;
	line-height: 36px;
	padding: 4px;
}

.codigo{
	display: block;
	float: left;
	font-size: 14px;
	height: 40px;
	line-height: 22px;
	padding: 10px;
	text-align: center;
	width: 22%;
}

.input_big{
	width: 100%;
}

.input_fono{
	width: 78%;
}

.fila{
	clear: both;
	margin: 15px 0 15px 0;
	overflow: hidden;
}

.label_check{
	font-size: 11px;
	line-height: 15px;
	padding-top: 4px;
}

.enviar{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fff;
	color: #336666;
	display: block;
	font-size: 20px;
	line-height: 24px;
	padding: 5px 0;
	text-align: center;
}

.sombra{
	background: url('../images/sombra.png') repeat;
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.block{
	display: block;
}

.cont_right{
	padding-bottom: 60px;
}

.header_tablet{
	background: #02813A;
	display: none;
	padding-top: 20px;
	position: relative;
	text-align: center;
}

.header_tablet .main_logo{
	padding-bottom: 20px;
}

.header_tablet .acordeon a{
	color: #fff;
	display: block;
	padding: 15px 20px;
	text-align: left;
}

.header_tablet .acordeon a img{
	float: right;
}

.menu{
	background: url('../images/menu.png') no-repeat;
	display: none;
	height: 18px;
	position: absolute;
	right: 20px;
	top: 34px;
	width: 25px;
}

.menu:hover,
.activo{
	background-position: 0 -18px;
}

.grafico2{
	display: none;
}

.check{
	display: block;
	float: left;
	margin: 0 5px 18px 0;
}

.unete{
	background: #314545;
}

.fs48{
	font-size: 48px;
	line-height: 52px;
}

.btn_unete{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #fff;
	border-radius: 10px;
	color: #fff;
	display: block;
	font-size: 18px;
	line-height: 22px;
	padding: 10px 0;
	text-align: center;
}

.btn_unete:hover{
	background: #fff;
	color: #4D4D4D;
}

.cont_btns li{
	float: left;
	padding-right: 10px;
	width: 250px;
}

.cont_btns p{
	color: #B6DDC6;
	font-size: 14px;
	line-height: 18px;
	margin-top: 20px;
}

.unete .fs48{
	padding: 40px 0 30px 0;
}

.unete h2{
	border-bottom: 1px solid #fff;
	width: 60%;
}

.mb40{
	margin-bottom: 40px;
	padding: 40px 0 10px 0;
}

.fs14{
	font-size: 14px;
	line-height: 18px;
}

.cont_form .fs14{
	margin-bottom: 30px;
}

.cont_form h2{
	margin: 20px 0 10px 0;
	padding-bottom: 10px;
}

.cont_form p img{
	padding-right: 10px;
	vertical-align: bottom;
}

.cont_form label{		
	font-size: 14px;
	line-height: 18px;	
}

.label_left .fila{
	padding-right: 20px;
}

.label_left label{
	line-height: 40px;
}

.label_left input{
	width: 80%;
}

.monto li{
	margin-bottom: 10px;
}

.select {
	background: #E6E6E6;
    border: 1px solid #e6e6e6;
    color: #757596;
    height: 40px;
    line-height: 40px;
    padding: 10px 4px;
}

.nacimiento input,
.nacimiento select{
	float: left;
	text-align: center;
	width: 32.8%;
}

.unete .cont_form h2{
	width: 100%;
}

.vencimiento select{
	float: left;
	width: 49.6%;
}

.selectmr{
	margin-right: 0.8%;
}

.cont_btnu{
	margin-top: 60px;
}

.label_mobile{
	display: none;
	margin-bottom: 5px;
}

#formulario strong{
	display: none !important;
}

#formulario .error_mob,
#formulario .error_desk{
	clear: both;
	display: none;
    font-size: 12px;
    line-height: 16px;
    margin: 5px 0;
}

#formulario .error_desk{
	line-height: 30px;
	padding-left: 5px;
}

#formulario .error{
	background: #E5B3C7;
	border: 1px solid #C1272D;
}

.cont_error_desk .fila{
	height: 40px;
}

.llame{
	font-size: 27px;
	line-height: 31px;
	margin: 20px 0;
}

.cont_check{
	font-size: 13px;
	line-height: 17px;
}

.cont_check li{
	margin-bottom: 10px;
}

.hasPlaceholder { color: #B3B3B3; }

.error_envio{
	color: #C1272D;
	display: none;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 10px;
	position: relative;
}

.error_envio a{
	color: #C1272D;
	position: absolute;
	right: 10px;
	top: 5px;
}

.cont_gracias{
	margin: 120px 0 40px 0;
	padding: 0 20px;
	text-align: center;
}

.gracias1{
	font-size: 48px;
	line-height: 52px;
	margin-bottom: 20px;
}

.gracias2{
	font-size: 18px;
	line-height: 22px;
}

.fixed{
	bottom: 0;
	position: fixed;
}

.img_mobile{
	display: none;
}

.cont_info_bosque,
.cont_info_artico{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
  	font-weight: 300;
}

.cont_info_bosque h1{
	color: #CEE11C;
}

.cont_info_artico h1{
	color: #fff;
}

.cont_info_bosque h1,
.cont_info_artico h1,
.cont_info_oceanos h1,
.cont_info_glaciares h1{
	font-size: 136px;
	font-style: italic;
  	font-weight: 700;
	line-height: 140px;
}

.cont_info_bosque h2{
	color: #CEE11C;
	font-size: 50px;
	line-height: 54px;
}

.cont_info_artico h2{
	font-size: 46px;
	line-height: 50px;
}

.cont_info_bosque h2,
.cont_info_artico h2,
.cont_info_oceanos h2,
.cont_info_glaciares h2{		
	font-style: italic;
  	font-weight: 700;	
	overflow: hidden;
}

.fs33{
	font-size: 33px;
	line-height: 43px;
}

.bosque1{
	padding-top: 20px;
}

.bosque1 h1{
	float: left;
	margin-right: 10px;
}

.verde_claro{
	background: #3D7776;
}

.bosque1 h2{
	float: left;
	line-height: 40px;
	margin-right: 10px;
	padding-top: 24px;
}

.bosque1 .cont_izq{
	width: 60%;
}

.hoja{
	padding-top: 38px;
}

.des_txt1{
	clear: both;
	color: #fff;
	font-size: 20px;
	line-height: 24px;
}

.cont_der{
	overflow: hidden;
}

.bosque2{
	padding-top: 20px;
}

.bosque2 .cont_der{
	left: 30%;
	position: absolute;
	width: 50%;
}

.bosque2 h2{
	line-height: 65px;
}

.bosque2 .cont_der .des_txt1{
	padding-left: 80px;
}

.bosque3,
.bosque4,
.bosque5{
	padding: 20px 0;
}

.bosque3 .percent{
	float: left;
	font-size: 95px;
	line-height: 99px;
	margin-right: 10px;
}

.bosque3 .fs34{
	font-size: 34px;
	line-height: 38px;
	padding-top: 12px;
}

.bosque4 h1{
	font-size: 60px;
	line-height: 64px;
}

.bosque4 h2{
	color: #fff;
	font-size: 40px;
	line-height: 44px;
}

.mr20{
	padding-right: 20px;
}

.bosque5{
	overflow: hidden;
}

.bosque5 .cont_izq{
	width: 60%;
}

.bosque5 .cont_izq h1{
	font-size: 80px;
	line-height: 84px;
	margin-right: 10px;
}

.bosque5 .cont_izq h2{
	font-size: 40px;
	line-height: 44px;
	margin-right: 5px;
}

.bosque5 .cont_izq  .des_txt1{
	clear: none;
	font-style: italic;
  	font-weight: 600;
}

.bosque5 .txt_right{
	padding-top: 10px;
}

.abs_left{
	position: absolute;
	left: 15%;
	width: 40%;
}

.txt_mob{
	display: none;
}

.celeste_claro{
	background: #29ABE2;
}

.celeste_oscuro{
	background: #2591B7;
}

.img_artico{
	padding-right: 20px;
}

.img_artico img{
	float: right;
}

.artico1{
	padding-bottom: 20px;
}

.artico1 h1{
	font-size: 90px;
	line-height: 94px;
}

.artico1 .titulo_big .des_txt1{
	clear: none;
	padding-left: 10px;
	overflow: hidden;
}

.artico2{
	background: url('../images/artico8.png') repeat-x bottom #2591B7;
	height: 320px;
	padding-top: 20px;
}

.artico2_2{
	height: 100%;
	position: relative;
}

.osos{
	bottom: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
}

.artico3,
.artico4,
.artico5,
.artico6,
.artico7,
.glacial4{
	padding: 20px 0;
}

.artico3 h1,
.artico4 h1{
	font-size: 50px;
	line-height: 54px;
}

.artico3 h2,
.artico4 h2{
	font-size: 36px;
	line-height: 46px;
}

.petroleo{
	padding-top: 3%;
}

.psub{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
  	font-weight: 300;
  	padding: 1% 0;
}

.artico7 h2{
	line-height: 57px;
}

.footer2 .sumate{
	background: #314545;
	color: #fff;
	display: block;
	font-size: 20px;
	line-height: 24px;
	margin: -33px auto 0;
	padding: 5px 0;
	text-align: center;
	width: 216px;
}

.footer2 .sumate img{
	padding-left: 20px;
}

.oceanos_claro{
    background: #67c1bf;
}

.oceanos_oscuro{
    background: #4AA8A3;
}

.litalic{
	font-size: 16px;
	font-style: italic;
	line-height: 20px;
}

.oceano1 .agua{
	position: absolute;
    left: 40%;
    top: -54%;
}

.oceano1 .mlagua{
	margin-left: 10%;
}

.oceano1{
	height: 350px;
	padding-top: 100px;
}

.oceano2,
.oceano3,
.glacial1,
.glacial2,
.glacial3{
	padding: 20px 0;
}

.oceano2 .co2{
	overflow: hidden;
	padding: 10% 0 0 5%;
}

.txt_pulmon{
	padding-top: 6%;
}

.cont_pulmon img{
	float: left;
	width: 45%;
}

.oceano3 .img_desktop{
	text-align: center;
}

.oceano3 .img_desktop p{
	text-align: left;
}

.oceano3 .img_desktop img{
	margin-bottom: 10px;
}

.oceano3 .padler{
	padding: 0 20px;
}

.oceano4 h2{
	font-size: 40px;
	line-height: 44px;
}

.oceano5 h1{
	font-size: 60px;
	line-height: 64px;
}

.oceano5 h2{
	font-size: 45px;
	line-height: 49px;
}

.glacial_oscuro{
	background: #3775A0;
}

.glacial_claro{
	background: #59AAD8;
}

.cont_info_glaciares h1{
	color: #90CCF0;
}

.glacial1 h1{
	font-size: 50px;
	line-height: 60px;
}

.glacial2 .cont_sol{
	text-align: center;
}

.glacial2 .cont_sol .des_txt1,
.glacial2 .cont_sol h2{
	text-align: left;
}

.glacial2 .cont_sol h2{
	line-height: 35px;
	margin: 10px 0 5px 0;
}

.glacial2 .cont_sol .sol1{
	padding-right: 5%;
}

.glacial2 .cont_sol .sol2{
	padding-left: 5%;
}

.glacial3 h2,
.glacial4 h2{
	font-size: 35px;
	line-height: 45px;
}

.glacial3 h1{
	color: #B5DFF8;
	font-size: 48px;
	line-height: 52px;
}

.cont_ley{
	padding-right: 5%;
}

.pez_img img{
	margin-bottom: 10px;
}

.txt_small{
	display: none;
}

/*Queries*/

@media (max-width: 1500px) {
	.cont_check .right,
	.cont_check .left{
		float: none !important;
	}
	.bosque5 .cont_izq h2{
		font-size: 30px;
		line-height: 34px;
	}
	.abs_left{
		padding-top: 1.5%;
	}
}

@media (max-width: 1300px) {
	.monto .right,
	.monto .left{
		float: none !important;
	}
	.hoja{
		padding-top: 30px;
	}
	.bosque2 .cont_der{
		left: 30%;
	}
	.oceano1 .agua {
    	left: 50%;
    	top: -64%;
	}
}

@media (max-width: 1280px) {	
	.des_txt1{
		font-size: 16px;
		line-height: 20px;
	}
}

@media (max-width: 1220px) {
	.hoja {
    	padding-top: 20px;
    	width: 12%;
	}
	.indigena{
		width: 25%;
	}
}

@media (max-width: 1120px) {
	.cont_left .fs34{
		font-size: 32px;
	}
	.bosque2 .cont_der{
		left: 40%;
	}
}

@media (max-width: 1025px) {
	.nacimiento input, 
	.nacimiento select{
		width: 32.8%;
	}
	.bosque1 .cont_der{
		left: 50%;
	}
	.bosque1 h1{
		font-size: 66px;
		line-height: 100px;
	}
	.bosque1 h2{
		font-size: 30px;
		line-height: 22px;
	}
	.fs33{
		font-size: 20px;
		line-height: 27px;
	}
}

@media (max-width: 1024px) {
	#formulario .error_desk{
		line-height: 16px;
	}
	.tronco{
		width: 50%;
	}
	.bosque2{
		padding-top: 40px;
	}
	.bosque2 .cont_der{
		margin-top: -25px;
	}
	.verde{
		height: 100% !important;
	}
	.verde .centrado{
		height: 100%;
		margin-top: 0;
		padding: 30px 0;
		position: static;
	}
	.verde h2 {
    	margin: 10px 0;
	}
	.social {
    	display: none;
	}
	.footer1{
		display: none;
	}
	.footer2{
		display: block;
		margin-top: 30px;
	}
	.verde .centrado{
		float: none;
		margin: 0 auto;
		width: 90%;
	}
	h2 {
    	font-size: 18px;
    	line-height: 22px;
	}
	.subtitle {
    	font-size: 16px;
    	line-height: 20px;
	}
	.main_nav .cont_logo{
		display: none;
	}
	.main_nav li{
		width: 25%;
	}
	.header_tablet{
		display: block;
	}
	.header_tablet .anios{
		width: 8%;
	}
	.header_login2{
		display: none;
	}
	.cont_right{
		padding-bottom: 0;
	}
	.monto {
    	margin-left: 34%;
	}
	.bosque5 .cont_izq h1{
		font-size: 60px;
		line-height: 64px;
	}
	.abs_left{
		position: inherit;
		width: 100%;
	}
	.bosque5 .cont_izq h2{
		font-size: 23px;
		line-height: 27px;
	}
	.artico1 h1{
		font-size: 60px;
		line-height: 64px;
	}
	.artico1 h2{
		font-size: 28px;
		line-height: 32px;
	}
	.artico3 h2{
		font-size: 30px;
		line-height: 38px;
	}
}

@media (max-width: 920px) {
	.bosque2 .cont_der{
		left: 30%;
		width: 70%;
	}
	.bosque2{
		padding-top: 60px;
	}
	.bosque2 .cont_der {
    	margin-top: -55px;
	}
	.oceano1 .agua {
    	top: -56%;
    	width: 38%;
	}
}

@media (max-width: 880px) {
	.bosque3 h2{
		font-size: 36px;
		line-height: 40px;
	}
	.bosque3 .fs34{
		font-size: 24px;
		line-height: 28px;
	}
	.bosque3 .percent{
		font-size: 70px;
		line-height: 74px;
	}
}

@media (max-width: 860px) {
	.indigena{
		width: 35%;
	}
	.oceano1 .agua {
    	top: -50%;
	}
}

@media (max-width: 740px) {
	.main_nav{
		display: none;
	}
	.menu{
		display: block;
	}
	.artico7 h2 {
		font-size: 40px;
    	line-height: 50px;
	}
	.glacial1 h1{
		font-size: 40px;
		line-height: 50px;
	}
	.anios{
		width: 17.5%;
	}
}

@media (max-width: 640px) {
	.header_tablet .anios{
		width: 13%;
	}
	.subtitle {
    	font-size: 12px;
    	line-height: 16px;
	}
	#der{
		display: none;
	}
	.home .acordeon{
		display: block;
	}
	.nacimiento input, 
	.nacimiento select{
		width: 32.8%;
	}
	.monto {
    	margin-left: 0;
	}
	.label_left{
		display: none;
	}
	.label_mobile{
		display: block;
	}
	.cont_error_desk{
		display: none;
	}
	.img_desktop{
		display: none;
	}
	.img_mobile{
		display: block;
	}
	.cont_interior h4{
		font-size: 14px;
		line-height: 18px;
	}
	.txt_desk{
		display: none;
	}
	.txt_mob{
		display: block;
	}
	.bosque1 .cont_izq{
		margin-right: 1%;
		width: 49%;
	}
	.img50 {
    	width: 50%;
	}
	.bosque1 h1 {
    	font-size: 40px;
    	line-height: 70px;
    	margin-right: 5px;
	}
	.bosque1 h2 {
    	font-size: 22px;
    	line-height: 18px;
    	padding-top: 20px;
	}
	.fs33 {
    	font-size: 14px;
    	line-height: 18px;
	}
	.bosque1{
		padding-top: 0;
	}
	.hoja{
		display: none;
	}
	.des_txt1{
		font-size: 14px;
		line-height: 18px;
	}
	.bosque2 .cont_der{
		width: 73%;
	}
	.bosque2 h2{
		font-size: 32px;
		line-height: 44px;
	}
	.bosque2 .cont_der .des_txt1{
		padding-left: 0;
	}
	.bosque2 {
    	padding-top: 100px;
	}
	.bosque2 .cont_der {
    	margin-top: -90px;
	}
	.bosque2 .cont_der{
		left: 28%;
	}
	.bosque3 .percent {
    	float: none;
	}
	.mundo{
		position: absolute;
		right: 0;
		width: 32%;
	}
	.bosque4 h1 {
    	font-size: 31px;
    	line-height: 35px;
	}
	.bosque4 h2{
		font-size: 17px;
    	line-height: 21px;
	}
	.bosque4 .mr20 {
    	padding-right: 10px;
	}
	.bosque5 .cont_izq{
		padding-top: 20%;
    	width: 100%;
	}
	.bosque5 .mapa{
		padding-top: 0;
		position: absolute;
		right: 0;
	}
	.bosque5 .cont_izq h2{
		width: 80%;
	}
	.artico1 h1 {
    	font-size: 46px;
    	line-height: 50px;
	}
	.artico1 h2{
		font-size: 26px;
		line-height: 30px;
	}
	.artico5 .petroleo {
    	padding-top: 18%;
	}
	.artico5 .des_txt1.txt_mob {
    	padding-top: 2%;
	}
	.oceano4 .petroleo {
    	padding-top: 12%;
	}
	.artico7 h2 {
		font-size: 34px;
    	line-height: 42px;
	}
	.oceano4 h2{
		font-size: 40px;
		line-height: 44px;
	}
	.oceano4 .txt_mob{
		padding-top: 10px;
	}
	.oceano5 h1{
		font-size: 50px;
		line-height: 54px;
	}
	.oceano5 h1{
		font-size: 50px;
		line-height: 54px;
	}
	.oceano5 h2{
		font-size: 35px;
		line-height: 39px;
	}
	.oceano1 {
	    height: 100%;
    	padding-top: 0;
	}
	.oceano1 .mlagua {
    	margin-left: 0;
	}
	.oceano1 h1.mlagua{
    	margin-left: 28%;
	}
	.oceano1 .img_mobile{
		margin: 0 auto;
		width: 50%;
	}
	.cont_pulmon img {
    	float: none;
    	width: 100%;
	}
	.oceano2 .co2 {
    	overflow: hidden;
    	padding: 0;
	}
	.oceano2 .titulo_big{
		padding-left: 3%;
	}
	.txt_pulmon {
    	padding-top: 1%;
	}
	.pez_img{
		margin-bottom: 20px;
	}
	.pez_img img{
		float: left;
		padding-right: 5%;
		width: 45%;
	}
	.oceano3 .pez_img .des_txt1{
		clear: none;
		overflow: hidden;
		padding-top: 10%;
	}
	.oceano3 .padler{
		padding: 0;
	}
	.glacial1 .img_mobile{
		margin: 0 auto;
		width: 50%;
	}
	.glacial2 .cont_sol h2 {
    	padding-top: 6%;
	}
	.glacial2 .pez_img img{
		height: auto;
		width: 101px;
	}
	.glacial2 .cont_sol .sol2 {
    	padding-left: 0;
	}
	.glacial3 h2{
		font-size: 20px;
		line-height: 26px;
	}
	.glacial3 h1 {
    	font-size: 40px;
    	line-height: 44px;
	}
	.glacial3 .txt_mob{
		clear: both;
	}
	.glacial4 h2{
		font-size: 30px;
		line-height: 34px;
	}
}

@media (max-width: 540px) {
	h1{
		font-size: 34px;
		line-height: 30px;
	}
	h3{
		font-size: 20px;
		line-height: 24px;
	}
	.cont_left .fs34{
		font-size: 26px;
		line-height: 30px;
	}
	.fs24{
		font-size: 18px;
		line-height: 22px;
	}
	.grafico1{
		display: none;
	}
	.grafico2{
		display: block;
	}
	.artico4 h1{
		font-size: 38px;
    	line-height: 42px;
	}
	.artico4 h2{
		font-size: 24px;
    	line-height: 30px;
	}
	.artico5 h2{
    	font-size: 42px;
    	line-height: 46px;
	}
	.artico6 h2 {
    	font-size: 37px;
    	line-height: 41px;
	}
	.artico5 .petroleo {
    	padding-top: 14%;
	}
	.oceano4 .petroleo {
    	padding-top: 6%;
	}
	.artico5 .txt_mob,
	.artico6 .txt_mob{
		padding-top: 10px;
	}
	.artico7 h2 {
		font-size: 30px;
    	line-height: 38px;
	}
	.oceano5 h1{
		font-size: 36px;
		line-height: 40px;
	}
	.pez_img .des_txt1{
		padding-top: 0;
	}
}

@media (max-width: 490px) {
	.txt_big{
		display: none;
	}
	.txt_small{
		display: block;
	}
	.glacial4 h2 {
    	padding-top: 40%;
	}
	.glacial4 .des_txt1{
		padding-top: 5%;
	}
}

@media (max-width: 405px) {
	.indigena {
    	padding-top: 5%;
	}
	.bosque3 h2 {
    	font-size: 20px;
    	line-height: 24px;
	}
	.bosque3 .percent {
		color: #fff;
    	font-size: 50px;
    	line-height: 54px;
	}
	.bosque3 .fs34 {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 10px;
   		padding-top: 0;
	}
	.mundo{
		width: 35%;
	}
	.bosque5 .mapa{
		width: 60%;
	}
	.bosque5 .cont_izq {
    	padding-top: 38%;
	}
	.artico2{
		height: 276px;
	}
	.artico3 h2{
		font-size: 26px;
		line-height: 30px;
	}
	.artico3 .titulo_big{
		padding-top: 36%;
	}
	.artico3 .txt_mob{
		padding: 10px 0;
	}
	.artico6 h2 {
    	font-size: 29px;
    	line-height: 33px;
	}
}

@media (max-width: 370px) {
	.indigena {
    	padding-top: 10%;
	}
	.cont_interior .borde{
		font-size: 30px;
		line-height: 34px;
	}
	.artico1 h1 {
    	font-size: 40px;
    	line-height: 44px;
	}
	.artico1 h2{
		font-size: 22px;
		line-height: 26px;
	}
	.artico3 h2{
		font-size: 22px;
		line-height: 26px;
	}
	.artico7 h2 {
    	font-size: 22px;
    	line-height: 28px;
	}
	.artico7 .psub{
		font-size: 14px;
		line-height: 18px;
	}
}

@media (max-width: 350px) {
	.indigena {
    	padding-top: 15%;
	}
}

@media (max-width: 320px) {
	.des_txt1{
		font-size: 13px;
		line-height: 17px;
	}
	.mundo{
		width: 45%;
	}
}